*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --white: #ffffff;
  --darkBlue: #482CE6FF;
  --darkPink: #480022FF;
  --pink: rgba(255, 0, 122, 1);
  --lightPink: rgba(255, 0, 122, .6);
  --veryLightPink: rgba(255, 0, 122, .24);
  --lightGray: rgba(0, 0, 0, 0.24);
  --darkGray: rgba(0, 0, 0, 0.60);
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

body {
  background-size: 845px 982px;
  background-position: 0 0;
  background: url('assets/background.png') no-repeat, linear-gradient(180deg, var(--darkBlue) 0%, var(--darkPink) 100%);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  min-height: 100vh;
  accent-color: var(--darkBlue);
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.text-hook {
  width: 100%;
  padding: 16rem 0 9.6rem 18.8rem;

  h2 {
    color: var(--white);
    font-size: 5.4rem;
  }
  
  p {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 200;
    padding-inline-end: 4rem;
  }
}

.form-container {
  padding-top: 16.8rem;
  padding-inline-start: 6rem;

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.7rem;
    color: var(--darkGray);
    font-weight: 500;
    padding: 2.2rem 0;
  }
}

form {
  background-color: var(--white);
  width: 56.5rem;
  height: 74.5rem;
  border-radius: 2.4rem;
  display: grid;
  grid-template-rows: 2.8rem auto;
  padding: 4rem;
}

.fields-container {
  display: grid;
  padding-top: 2.4rem;
  height: 19rem;
  gap: 2rem;
}

input {
  width: 485px;
  padding: 8px 10px;
  border: 1px solid var(--lightGray);
  border-radius: 16px;
  font-size: 17px;
  height: 5rem;
  font-weight: 500;
}

input[type=radio] {
  accent-color: inherit;
  padding: 0;
  width: 18px;
  height: 18px;
}

.radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  color:var(--darkGray);
  gap: .4rem;
}

.radio-group {
  padding-bottom: 1rem;
}

fieldset {
  border: none;
  display: flex;
  gap: 4rem;
  padding: 0;
}

.message-container {
  height: 19.6rem;
}

.message-container textarea {
  width: 100%;
  border: 1px solid var(--lightGray);
  color: var(--darkGray);
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 16px;
  padding: .8rem 1rem;
}

.submit {
  background: var(--pink);
  color:var(--white);
  font-size: 2rem;
  border-radius: 4.8rem;
  border: none;
  height: 5.4rem;
  align-self: flex-end;
}

/* Dot SVG and message */

.dot-and-message {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating-message-container {
  position:relative;
  height: 134px;
  width: 483px;
}

.floating-message {
  background: var(--pink);
  border-radius: 16px;
  padding: 1.6rem;
  position: absolute;
  width: 483px;

  p {
    font-size: 2rem;
  }
}

p.company-name {
  font-weight: 500;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 42px solid var(--pink);
  position: absolute;
  bottom: 0;
  left: 220px;
}

.dot-container {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.svg-area {
	display: block;
}

#core {
	fill: var(--pink);
	animation: pulse1 1.4s ease-in-out infinite;
}

#radar  {
	fill: var(--lightPink);
	animation: pulse2 1.4s ease-in-out infinite;
}

#radar2  {
	fill: var(--lightPink);
	animation: pulse3 1.6s ease-in-out infinite;
}

.message {
  background: var(--pink);
  color: var(--white)
}

@keyframes pulse1 {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	30% {
		opacity: 1;
		transform: scale(1.5);
	}

	60% {
		opacity: 1;
		transform: scale(2);
	}

	100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(1, 1);
		opacity: 0;
	}

	50% {
	    opacity: 1;
	}

	100% {
	    transform: scale(6, 6);
	    opacity: 0;
  }
}

@keyframes pulse3 {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      transform: scale(8);
      opacity: 0;
    }
}